{% extends '@email/default/notification/body.html.twig' %}

{% block content %}    
    <p>
        {{ comment.text }}
    </p>
{% endblock %}

{% block action %}    
    <button href="{{ url('conference-view', { slug: conferenceslug }) }}">View your comment</button>                
{% endblock %}