<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<header>
			<h1 style="display:inline-block;">
				<a href="{{ path('conference-list') }}">Guestbook</a>
			</h1>
			<ul style="display:inline-block;">
				{% for conference in conferences %}
					<li style="display:inline-block; margin-right:10px;">
						<a href="{{path( 'conference-view', { slug: conference.slug } ) }}">
							{{ conference }}
						</a>
					</li>
				{% endfor %}
			</ul>
			<hr/>
		</header>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
